

.cardProduct{
  /* border: 1px solid red; */
  height:700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.cardProduct>img{
  
  height:30%;
}
.main{
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  padding:20px;
  /* height:70px; */

}
.sortingDiv{
  /* border: 1px solid red; */
  width:200px;
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.cartMain{
  /* border: 1px solid red; */
}

.cartIndividual{
  /* border: 1px solid blue; */
  /* display: flex; */

}

a{
  text-decoration: none;
}

.filterRatingDiv{
  /* border:1px solid blue; */
  width:400px;
  justify-content: space-evenly;
  display: flex;
  margin-left: 1100px;
  margin-top: -30px;
}
.pagination{
  margin-left: 600px;

}

.cartImage{
  /* border: 1px solid red; */
  height: 300px;

}
.cartImage>img{
  height: 100%;
}
.title{
  /* border: 1px solid red; */
  width:600px;
  margin-left: 20px;



}
.imgTitle{
  /* border: 1px solid purple; */
  display: flex;
}
.cartIndividual{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* width: 1200px; */
}